footer {
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	bottom: 0;
	height: 40px;
	margin-top: 2rem;
    width: 100%;
    flex-direction: column;
}

footer img {
	width: 200px;
	margin: 0;
}

footer>p {
	margin: 0;
	padding-top: 0.7rem;
}

.footerConteiner {
	position: relative;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
}

.footerDown {
	display: flex;
	justify-content: space-around;
	align-items: center;

}


.divisionFooter {
	background-color: #e1051f;
	height: 50px;
	width: 100%;
}

.containerRedesSociales {
	display: flex;
	filter: invert(1);
	width: 20px;
	height: 20px;
	gap: 12px;
}

.containerDH {
	display: flex;
	height: 100%;
	align-items: center;
}

.containerDH img {
	height: 40px;
}